# <span style=color:yellow> Exploratory Data Analysis </span>

## Three important things to keep in mind are

1. Understand the data
2. Clean the data.
3. Find a relationship between data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load dataset into Kashti and make a csv file

In [ ]:
kashti = sns.load_dataset('titanic')

In [ ]:
kashti.to_csv("kashti.cv")

<span style=color:blue>  Finding Info  of Data Frame (Null value, Data type)  </span>

In [ ]:
kashti.info()

In [ ]:
ks = kashti
ks.head()

In [ ]:
ks.shape

In [ ]:
ks.tail()

In [ ]:
ks.describe()

### Finding Unique values in a Column
<span style=color:blue> unique values in a single column  </span>

<span style=color:blue>  unique values in multiple column </span>

In [ ]:
#unique values
ks["survived"].unique()

Unique no of  values in each column in a dataset without Unique values

In [ ]:
ks.nunique()

Ravel Function (I think u dont need to use it)

sex who and class k unique categories again

In [ ]:
col1=ks[['sex','who','class']].values.ravel()
col2=pd.unique(col1)
print(col2)

In [ ]:

ks[["who","survived","age","fare"]].nunique()

In [ ]:
for i in ks.columns:
    print(ks[i].unique())

In [ ]:
ks.columns

## Data Cleaning and Filtration

<span style=color:blue>    Finding null values in every column of a  dataset    </span>

In [ ]:
## Cleaning and Filtering the Data
ks.isnull().sum()

<span style=color:blue>   Removing Missing values     </span>

Dropped deck column here

In [ ]:
# removing missing values
ks_clean = ks.drop(['deck'],axis=1)

In [ ]:
ks_clean.head()

In [ ]:
ks_clean.isnull().sum()

<span style=color:purple>  Dropping all null values        </span>

In [ ]:
ks_clean =ks_clean.dropna()

In [ ]:
ks_clean.shape

_**checking if null values exists**_

In [ ]:
ks_clean.isnull().sum()

<span style=color:blue>  _**Checking age column and seeing how many numbers exists for unique values **_     </span>

In [ ]:
ks_clean['age'].value_counts()

In [ ]:
ks.describe()

In [ ]:
ks_clean.describe()

<span style=color:blue>   _**Boxplot**_     </span>

_**Removing Outliers**_

In [ ]:
sns.boxplot(x='sex',y='age',data=ks_clean)

In [ ]:
#age me masla hay
sns.boxplot(y='age',data=ks_clean)

<span style=color:blue>   **Normality Check**     </span>

In [ ]:
#Normality check. 
# remove outliers to obtain perfect bell curve
sns.distplot(ks_clean['age'])

### <span style=color:blue>    Removing Outliers    </span>

In [ ]:
# out liers removal
ks_clean['age'].mean()

<span style=color:blue>    **Removing age values less than 68**    </span>

In [ ]:
ks_clean = ks_clean[ks_clean['age']< 68]
ks_clean.tail()

In [ ]:
#ks_clean = ks_clean[ks_clean['age']< 68].mean()

In [ ]:
ks_clean.shape

In [ ]:
# mean after outliers removal
ks_clean['age'].mean()

In [ ]:
#after age  me issue resolving
sns.boxplot(y='age',data=ks_clean)

In [ ]:
#Normality check. 
# remove outliers to obtain perfect bell curve
sns.distplot(ks_clean['age'])

<span style=color:blue>  Box plot for all Column heads      </span>

In [ ]:
ks_clean.boxplot()

<span style=color:blue> Cleaning Fare Column       </span>

In [ ]:
ks_clean = ks_clean[ks_clean['fare']<200]
ks_clean.boxplot()

<span style=color:blue>  _**Dist plot (histogram on Fare data)**_      </span>

In [ ]:
sns.displot(ks_clean['fare'])

<span style=color:blue> _**Hist plot on every column Instance**_       </span>

In [ ]:
ks_clean.hist()

<span style=color:blue>  _**Count bar plot on Class**_      </span>

In [ ]:
pd.value_counts(ks_clean['class']).plot.bar()

<span style=color:blue>  _Group kar k Data categorize karna_      </span>

In [ ]:
# column hamesha square braces
 #. k bad wale chez me hamesha round braces
ks_clean.groupby(['sex','class','who']).mean()

## Relationship (Corelation and Heatmap)

In [ ]:
cor_ks_clean =ks_clean.corr()

In [ ]:
sns.heatmap(cor_ks_clean)

In [ ]:
sns.heatmap(cor_ks_clean,annot=True)

In [ ]:
sns.relplot(x='age',y='fare',hue='sex',data=ks_clean)

In [ ]:
sns.catplot(x='sex',y='fare',hue='sex',data=ks_clean,kind='box')

<span style=color:blue>   Concept of log scale to Remove outliers     </span>

In [ ]:
ks_clean['fare_log'] = np.log(ks_clean['fare'])
ks_clean.head()

In [ ]:
sns.catplot(x='sex',y='fare_log',hue='sex',data=ks_clean,kind='box')

In [ ]:
ks_clean.head()

#### Removing last Column

In [ ]:
vv=ks_clean.iloc[:,:-2]