## Basic Data structures in Python 
1- Tuples

        a. Ordered collection of elements
        b. enclosed in round braces (). Can store different type of data (Rust scene)
        c. Once stored elements cannot be changed. (Immutable)

2- List
        
        a. Ordered collection of elements
        b. stored in square braces
        c. Mutable

3- Dictionaries

        a. Unordered Collection of elements
        b. Key and Value (like Hashmap of Rust)
        c. Curly braces or bracket {}
        d. Mutable / changeable
        e. duplicates allowed

4- Set

        a. Unordered/ unindexed
        b. Used with curly braces
        c. No duplicates allowed

## Tuples

In [10]:
tup1 = (1,"python",True,2.5)
tup1.count(2.5)

1

In [9]:
tup1.index(2.5)

3

In [2]:
#type of  a tuple
type(tup1)

tuple

### Indexing in Tuple

In [3]:
tup1[1] #python

'python'

In [4]:
tup1[0:6]

(1, 'python', True, 2.5)

In [5]:
## last element will not print because it is exclusive ##
tup1[0:3]

(1, 'python', True)

In [7]:
#length of tuple
len(tup1)

4

In [8]:
tup2 = (2,"babaAmmar",3.5,False)
tup2

(2, 'babaAmmar', 3.5, False)

In [9]:
tup1 + tup2

(1, 'python', True, 2.5, 2, 'babaAmmar', 3.5, False)

In [12]:
tup1*3+tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'babaAmmar',
 3.5,
 False)

In [13]:
tup3= (20,30,40,59,40)
tup3

(20, 30, 40, 59, 40)

In [15]:
min(tup3)

20

In [16]:
max(tup3)

59

In [18]:
z="34"
tup3 + tup2
#tup3+z # tuple can only be added or concatenated to a tuple

(20, 30, 40, 59, 40, 2, 'babaAmmar', 3.5, False)

## List

In [53]:
list1 = [2,"BabaAmmar",False]
list1

[2, 'BabaAmmar', False]

In [21]:
type(list1)

list

In [22]:
len(list1)

3

In [23]:
list1[1]

'BabaAmmar'

In [25]:
#list1[3]

In [27]:
list2=[3,5,"Ammar","Codanics",478,53.2,False]
list2

[3, 5, 'Ammar', 'Codanics', 478, 53.2, False]

In [30]:
list1 + list2 #concatenated

[2, 'BabaAmmar', False, 3, 5, 'Ammar', 'Codanics', 478, 53.2, False]

In [32]:
#list1 + 2     # not possible

In [54]:
list1.reverse() # braces laga bachay
list1

[False, 'BabaAmmar', 2]

In [58]:
list1.append("codanics yt channel") # ek tarah se concatenate jitni bar run
list1

[False,
 'BabaAmmar',
 2,
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel']

In [61]:
list1.count(2) # count a element occurance

1

In [66]:
list3 = [10,20,30,340,50,60]
list3

[10, 20, 30, 340, 50, 60]

In [63]:
len(list3)

6

In [67]:
#sorting a list
list3.sort()
list3

[10, 20, 30, 50, 60, 340]

In [69]:
list3 *2 # two times list is printed

[10, 20, 30, 50, 60, 340, 10, 20, 30, 50, 60, 340]

In [70]:
list4 = list1 + list2
list4

[False,
 'BabaAmmar',
 2,
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel',
 3,
 5,
 'Ammar',
 'Codanics',
 478,
 53.2,
 False]

In [72]:
list1.remove(2) #element remove karta hay list ka function
list1

[False,
 'BabaAmmar',
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel',
 'codanics yt channel']

## Dictionaries

In [77]:
# Food and their prices Samsoa key and value 30
food1 = {"Samosa":30,"Pakora":100,"Raita":20,"Salad":50,"Chicken Roll":30}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Roll': 30}

In [78]:
type(food1)

dict

In [80]:
# extract data

keys = food1.keys()
keys

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Roll'])

In [82]:
values= food1.values()
values

dict_values([30, 100, 20, 50, 30])

In [92]:
food1.update({"Tikki":3}) # how to add new key value method1
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 3}

In [94]:
food1["Tikki"]= 10 # Method 2 for updating
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 10}

In [97]:
# update values
food1.update({"Samosa":20})
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 10}

In [99]:
food2 = {"Dates":20,"Chocolates":200,"Sewayyan":1000}
food2

{'Dates': 20, 'Chocolates': 200, 'Sewayyan': 1000}

In [101]:
# food1 + food2 will give error here correct method
food1.update(food2) # do dict apas me concatenate
food1

{'Samosa': 20,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Roll': 30,
 'Tikki': 10,
 'Dates': 20,
 'Chocolates': 200,
 'Sewayyan': 1000}

In [105]:
s1= {1,2.2,5.2,"Ammar","Codanics","Faisalabad",True} # no boolean 
s1

{1, 2.2, 5.2, 'Ammar', 'Codanics', 'Faisalabad'}

In [108]:
s1.add("Ammar") # no duplication
s1

{1, 2.2, 5.2, 'Ammar', 'Codanics', 'Faisalabad'}

In [109]:
s1.add("Ammar1")
s1

{1, 2.2, 5.2, 'Ammar', 'Ammar1', 'Codanics', 'Faisalabad'}

In [112]:
s1.difference("1")

{1, 2.2, 5.2, 'Ammar', 'Ammar1', 'Codanics', 'Faisalabad'}

In [114]:
s1.discard("Ammar")
s1

{1, 2.2, 5.2, 'Ammar1', 'Codanics', 'Faisalabad'}